
.tab-input-span {
  font-size: 14px;
  color: #A8B7C7;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.title-p{
  padding-top: 25px;
  font-size: 10px;
  color: rgba(153, 153, 153, 0.44);
  letter-spacing: 0;
}

.title-p p{
  margin-bottom: 0;
}

.tab-input-span div{
  border: 1px solid #1600B9;
  width: 103px;
  height: 36px;
  display: table-cell;
  padding: 10px 35px;
  cursor: pointer;
}
.tab-input-span .active{
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  background: #5756DD;
  border: 1px solid #1600B9;
}

.select-data-body{
  max-height: 300px;
  overflow: auto;
  border-radius: 5px;
}

.sz-news:nth-of-type(odd) {
  background-color: #fff;
}
.sz-news:nth-of-type(even) {
  background-color: #F6F7F9;
}


.select-data-body .sz-news:hover{
  background-color: rgba(242, 222, 222, 0.36);
  cursor: pointer;
}

.error > .sz-news:hover{
  background-color: rgba(204, 44, 35, 0.36);
}



.find-company-u-focus {
  padding: 4px 4px;
  margin-right: 10px;
  text-align: center;
  color: #999;
  border: 1px solid #cfd8dc;
}

.u-form-control{
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.u-select-company{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  width: 20%;
}
.u-select-company .row{
  width: 100%;
}
.u-input-company .u-form-control-div{
  width: 100%;
}

.u-select-input-company{
  border-radius: 4px;
}
.u-select-input-company .u-select-input-company-div{
  display: inline-block;
  float: left;
}


.u-select-input-company ul,.u-select-input-company li{
  list-style: none;
  display: flex;
  margin-bottom: 0;
}

.del-span{
  color: #ccc;
  padding: 0 3px;
  cursor: pointer;
}
.export-input{
  position: relative;
  overflow: hidden;
}
.export-input a{

}

.export-input input{
  position: absolute;
  opacity: 0;
  display: initial;
  width: 60px;
  margin-left: -60px;
  cursor: pointer;
}



.find-company-heard-div{
  position: relative;
  height: 80px;
  width: 100%;
  background: #6770E0;
  color: #FFF;
}

.sz-com {
  position: absolute;
  width: 1080px;
  height: 80px;
  left: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.find-company-heard {
  line-height: 70px;
  border-right: 0;
  color: #FFFFFF;
}
