<div class="row">
  <div class="col-lg-12 m-headLine">
    股东明细
  </div>

  <div  class="col-lg-12 inves-info-table ">
    <div  class=" ">
      <div  class="row mgn-row inves-info">
        <div  class="row all-dis-set">
          <div  class="col-lg-6 width-524">
            <div class="col-lg-12">
              股东名称
            </div>
          </div>
          <div  class="col-lg-2 width-185 align-center">股东类型</div>
          <div  class="col-lg-2 width-185 align-center">持股比例</div>
          <div  class="col-lg-2 width-185 align-center">持股数量（单位：股）</div>
        </div>
      </div>
      <div class="inves-info-table-body m-scrollbar">
        <div  class="row mgn-row " >
          <div  class="col-lg-12 sz-news padding-left-right_0 all-dis-set" *ngFor="let shareholderInfo of shareholderInfos">
            <div  class="col-lg-6 width-524 padding-left-right_0">
              <div class="col-lg-12">
                {{shareholderInfo.sharehdname}}
              </div>
            </div>
            <div  class="col-lg-2 width-185 align-center">{{shareholderInfo.sharehdType}}</div>
            <div  class="col-lg-2 width-185 align-center">{{shareholderInfo.sharehdRatio}}</div>
            <div  class="col-lg-2 width-185 align-center">{{shareholderInfo.sharehdNum}}</div>
          </div>
        </div>
        <div  class="row mgn-row " *ngIf="shareholderInfos == []|| shareholderInfos == null">
          <div  class="row">
            <div  class="col-lg-12 align-center">
              暂无股东及投资信息
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
