.inves-info{
  background: rgba(103,112,224,0.10);
}
.inves-info-table-body{
  height: 240px;
  overflow-y: auto;
}

.inves-info-table .row{
  line-height: 40px;
}

.inves-info-table .inves-info .row>div:nth-child(1),
.inves-info-table .inves-info .row>div:nth-child(2),
.inves-info-table .inves-info .row>div:nth-child(3){
  border-right: 1px inset #fff;
}

.inves-info-table .inves-info .row>div:last-child{
  border-right: 0 inset #fff;
}


.inves-info-table .inves-info {
  font-size: 14px;
  color: #3F51B5;
  letter-spacing: 0;
}

.sz-news:nth-of-type(odd) {
  background-color: #F6F7F9;
}
.sz-news:nth-of-type(even) {
  background-color: #EEEFF4;
}
