.financeInfo {
  line-height: 40px;
}
.financeInfo:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
}
.financeInfo .row .col-lg-4{
  font-size: 14px;
  color: #16325C;
  letter-spacing: 0;
}
.financeInfo .row .col-lg-2{
  font-size: 14px;
  color: #54698D;
  letter-spacing: 0;
}
div > .financeInfo:nth-child(1), div> .financeInfo:nth-child(2) {
  background: rgba(103,112,224,0.10);
  font-size: 14px;
  color: #3F51B5;
  letter-spacing: 0;
}
.financeInfo:nth-child(1)>.row>div,
.financeInfo:nth-child(2)>.row>div {
  border-right: 1px inset #fff;
}
.financeInfo:nth-child(1)>.row>div:last-child,
.financeInfo:nth-child(2)>.row>div:last-child {
  border-right: none;
}



.financeInfo:nth-of-type(odd) {
  background-color: #F6F7F9;
}
.financeInfo:nth-of-type(even) {
  background-color: #EEEFF4;
}

.m-financial-info .text-right,.m-financial-info .text-left{
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
}
