<div class="row ">
  <div class="col-lg-12 m-headLine m-financial-info all-dis-set">
    <div class="col-lg-6 padding-left_0 width-524 all-dis-set">
      <div class="col-lg-2 padding-left-right_0">财务信息</div>
      <div class="col-lg-10 text-left padding-left_0">（近三年及一期 单位：万元）</div>
    </div>
    <div class="col-lg-6 text-right width-524">
      <span class="cursor-pointer" (click)="openFinancialReport(reportTemplate)">查看详细财务报表</span>
    </div>
  </div>
  <div class="col-lg-12 " *ngIf="financialFlag">
    <div class="">
      <div class="row mgn-row financeInfo" *ngFor="let item of financialData | mapTrans; let i = index">
        <div class="row text-center all-dis-set" *ngIf="!notFinanceFlag[i]">
          <div class="col-lg-4 width-375">{{ item['key'] }}</div>
          <div class="col-lg-2 width-185">{{ item['value'][0] }}</div>
          <div class="col-lg-2 width-185">{{ item['value'][1] }}</div>
          <div class="col-lg-2 width-185">{{ item['value'][2] }}</div>
          <div class="col-lg-2 width-185">{{ item['value'][3] }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #reportTemplate>
  <app-financial-report [companyId]="companyId"
                        [companyName]="companyName"
                        (financeReportType)="closeFinancialReport($event)">
  </app-financial-report>
</ng-template>
