<div class="sz-background">
  <div class="row">
    <div class="col-lg-12 line-height50">
      <div class="float-left fontW-700 mgn-right_15 mgn-left_15">用户名：</div>
      <input type="text" class="form-control float-left width-262 mgn-t-7" [(ngModel)]="name" placeholder="请输入想查询的用户名">
      <a class="float-left mgn-left_15 cursor-pointer" (click)="search()">查询</a>
      <button type="button" class="float-right mgn-right_15 mgn-top_10 btn btn-group color-fff background-6770E0" (click)="add(editTemplate)">创建新用户</button>
    </div>
  </div>
  <div class="row mgn-row account-row0 fontW-700 color-54698D">
    <div class="col-lg-3">用户名</div>
    <div class="col-lg-4">显示名</div>
    <div class="col-lg-3">角色</div>
    <div class="col-lg-2">操作</div>
  </div>
    <div class="row mgn-row account-row" *ngFor="let user of userInfo" [hidden]="(userInfo == null)">
      <div class="col-lg-3 color-54698D">{{ user.accountNm }}</div>
      <div class="col-lg-4 color-54698D">{{ user.userNm }}</div>
      <ng-container *ngIf="user.roleId == '1'; else isRole">
        <div class="col-lg-3 color-54698D">管理员</div>
      </ng-container>
      <ng-template #isRole>
        <div class="col-lg-3 color-54698D">普通用户</div>
      </ng-template>
      <div class="col-lg-2">
        <a class="cursor-pointer" (click)="openModal(user, deleteTemplate)">删除</a>
        <a class="mgn-left_15 cursor-pointer" (click)="edit(editTemplate, user)">重置密码</a>
      </div>
    </div>
    <div [hidden]="!(userInfo == null)" class="col-lg-12 color-54698D align-center">暂无该用户名</div>

  <div class="m-pagination text-right mgn-bottom_70">
    <pagination [boundaryLinks]="true"
                [maxSize]="7"
                [rotate]="false"
                [totalItems]="totalItems"
                [itemsPerPage]="itemsPerPage"
                [(ngModel)]="currentPage"
                (pageChanged)="getAccount($event,name)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
</div>
<ng-template #editTemplate>
  <app-account-edit [user]="userData" [title]="title" [aType]="type" (type)="editUser($event)"></app-account-edit>
</ng-template>
<ng-template #deleteTemplate>
  <app-confirm [message]="message" (confirmType)="confirm($event,name)"></app-confirm>
</ng-template>
