.manage-ul {
  min-height: 569px;
  background-color: #fff;
}
.manage-ul li {
  padding: 12px 0;
  text-align: center;
  border-bottom: 1px inset #ccc;
  cursor: pointer;
}
.manage-ul li:hover {
  color: #ec7219;
  border-left: 2px solid #ec7219;
}
.manage-ul .active {
  color: #ec7219;
  outline: none !important;
  border-left: 2px solid #ec7219;
}
.account-row0 {
  line-height: 40px;
}
.account-row {
  line-height: 40px;
}
.account-row:nth-child(odd) {
  background: #F6F7F9;
}
.account-row:nth-child(even) {
  background: #fff;
}
.line-height50 {
  line-height: 50px;
}
.mgn-t-7 {
  margin-top: 7px;
}
.accountH {
  height: 230px;
}
.input-a {
  border: none;
  width: 100%;
  outline: 0;
}
.a-line {
  width: 100%;
  height: 1px;
  margin-top: 5px;
  background-color: #CCCCCC;
}
.a-icon {
  font-size: 64px;
  color: #8FCE65;
}
.watchH {
  height: 280px;
  padding-right: 0;
  margin-right: 15px;
  overflow: auto;
}
.watchM {
  height: 560px;
  overflow-y: auto;
}
.watchAdd {
  padding: 5px 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.background-6770E0{
  background-color: #6770E0;
}
.background-F6F7F9{
  background-color: #F6F7F9;
}



/* level */
.height525{
  height: 525px;
}
.height375{
  height: 375px;
}
.level-title{

}
.level-body{

}
.level-textarea{
  margin-top: 13px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  padding: 0 15px;
  line-height: 22px;
  min-height: 103px;
}


/* risk-edit*/
.riskEditBody{
  overflow-y: hidden;
  overflow-x: hidden;
}
.search-company{
  line-height: 25px;
}
.search-company-data .search-company:hover{
  background-color: #5bc0de;
  color: #ffffff;
}
.search-company:nth-of-type(odd) {
  background-color: #D9DFE0;
}
.search-company:nth-of-type(even) {
  background-color: #F6F7F9;
}
.search-company-data{

}

.fa-check-circle{
  color: #8FCE65;
  line-height: 37px;
  font-size: 20px;
  margin-left: 5px;
}
