<div class="container">
  <div class="row">
    <div class="col-lg-12 m-headLine padding-top-5">
      后台管理
    </div>
    <div class="col-lg-2">
      <ul class="manage-ul">
        <li routerLinkActive="active" [routerLink]="['account']">账户维护</li>
        <li routerLinkActive="active" [routerLink]="['watch']">监管人维护</li>
        <li routerLinkActive="active" [routerLink]="['levelMaintain']">评级维护</li>
        <li routerLinkActive="active" [routerLink]="['riskMaintain']">风险维护</li>
        <li routerLinkActive="active" [routerLink]="['companyBaseInfo']">企业信息维护</li>
      </ul>
    </div>
    <div class="col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
