.left-bars{
  overflow: hidden;
}
.left-bar{
  width: 46px;
  height: 46px;
  overflow: hidden;
  background: #FFFFFF;
  /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 0 0 1px #E6E6E6;*/
  border: 1px solid #EDEDED;
  transition: all .55s cubic-bezier(.25,.8,.25,1);
}

.left-bar.active{
  width: 378px;
  height: auto;
}
.left-bar-head.active{
  color: #333;
}
.left-bar-x:nth-child(1){
  margin-bottom: 20px;
  max-height: 300px;
  overflow: hidden;
}
.left-bar-x:nth-child(1) .left-bar-head{
  border-bottom:  2px solid  #E7E7E7 ;
}

.left-bar-x:nth-child(1).active .left-bar-head>div:nth-child(1){
  display: none;
}
.left-bar-x:nth-child(1) .left-bar-head>.left-bar-icon , .left-bar-x:nth-child(1) .left-bar-head.active{
  background: #fff!important;
}
.left-bar-x:nth-child(1) .left-bar-head:hover{
  background: #fff!important;
}
.left-bar-x:nth-child(1) .left-bar-head>div:nth-child(2){
  display: none;
  padding-left: 30px;
  padding-right: 0;
  line-height: 45px;
}
.left-bar-x.active:nth-child(1) .left-bar-head>div:nth-child(2){
  display: block;

}
.left-bar-x:nth-child(1) .left-bar-head>.left-bar-icon , .left-bar-x:nth-child(1).active .left-bar-head{
  background: #fff;
}
/*.left-bar:nth-child(1) .left-bar-head:hover{*/
/*background: rgba(240,240,240,0.5);*/
/*}*/
.left-bar .left-bar-content{
  display: none;
}
.left-bar-x.active:nth-child(1) .left-bar-content{
  height: auto;
  overflow: hidden;
  padding: 20px 30px;
  display: block;
}
.left-bar-x.active:nth-child(1) .left-bar-content>div{
  border:none!important;
  background: #fff;
  line-height: 30px;
}

.md-button.left-bar-head{
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.md-button.left-bar-head .md-ripple-container{
  border-radius: 0;
}
.left-bar-icon{
  width: 44px;
  height: 44px;
  padding: 0 2px;
  white-space: normal;
  line-height: normal ;
}
.left-bar-head {
  cursor: pointer;
  height: 44px;
}
.left-bar-head div{
  vertical-align:middle;
  /*display: table-cell;*/
}
.left-bar-head>div:nth-child(2){
  width: 286.56px;
  cursor: pointer;
  text-align: right;
  padding-right: 24px;
}
.chart-fa-toggle{
  padding-right: 20px;
  padding-left: 3px;
}
.chart-fa-toggle.fa-toggle-off,.chart-fa-toggle.fa-toggle-on{
  font-size: 20px;
}
.chart-fa-toggle.fa-toggle-off:before{
  color: #979797;
}
.chart-fa-toggle.fa-toggle-on:before{
  color: #000;
}
.left-bar-content{
  transition: all .55s cubic-bezier(.25,.8,.25,1);
  background: #fff;
  width: 100%;
  height: 0;
}
.left-bar .left-bar-head.active+.left-bar-content{
  height: 378px;
}
.left-bar-content>div:nth-child(1){
  background: #F6F5F5;

}
.left-bar-content>div:not(:nth-child(1)){
  border:1px solid #E7E7E7;
  border-left:none;
}
.left-bar-content>div:nth-child(1)>div:nth-child(2){
  border-right: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
}
.left-bar-content>div{
  overflow: hidden;
  line-height: 45px;
}
.left-bar-content md-checkbox{
  margin-left: 18px;
  margin-bottom: 0;
}

/*风险信息等*/
.left-bar-flag{
  width: 20px;
  height: 20px;
  background: #FC4256;
  border-radius: 50%;
  position: relative;
  transition: all .55s cubic-bezier(.25,.8,.25,1);
}
.left-bar-flag.active:before,.left-bar-flag.active:after{
  background: #DEDEDE;
}
.left-bar-flag:before {
  content: '';
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  background: #FFFFFF;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: all .55s cubic-bezier(.25,.8,.25,1);
}
.left-bar-flag:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #FC4256;
  border-radius: 50%;
  top: 6px;
  left: 6px;
  transition: all .55s cubic-bezier(.25,.8,.25,1);
}
.left-bar-aside{
  margin-top: 88px;
  transition: max-height .55s cubic-bezier(.25,.8,.25,1);
  max-height: 1000px;

}
.left-bar-aside.select-flag{
  max-height: 0;
  overflow: hidden;
}
.risk-table{
  border: 1px solid #fff;
  margin-top: 15px;
}
.risk-table thead,.risk-table tbody{
  width: 532px;
  display: block;
}
.risk-table thead{
  background: rgba(255,255,255,0.5);
}
.risk-table tbody{
  overflow-y: auto;
  max-height: 60vh;
}
.risk-table td{
  padding: 5px 10px;
  border-left: none;
  border-bottom: none;
  border-right: none;

}
.risk-table td:nth-child(1){
  width: 120px;
}
.risk-table td:nth-child(2){
  width: 330px;
  border-left: 1px dashed;
  border-right: 1px dashed;
}
.risk-table td a{
  color: #D1AA8A;
}
.chart-nametype-0{
  background: #fbe8e8;
  border: 1px solid;
  color: #e46765;
  padding: 0 5px;
  margin-left: 5px;
}
.chart-nametype-1{
  background: #fde9d9;
  border: 1px solid;
  color: #f16c00;
  padding: 0 5px;
  margin-left: 5px;
}
.chart-nametype-2{
  background: #f5f5f5;
  border: 1px solid;
  color: #2da747;
  padding: 0 5px;
  margin-left: 5px;
}
.chart-riskback-btn{
  position: relative;
  color: #D28331;
  background-color: transparent;

  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #000;
  z-index: 1;
  overflow: hidden;
  width: 71px;
  height: 28.4px;
  padding: 0;
  text-align: center;
}
.chart-riskback-btn:after{
  position: absolute;
  content: '';
  z-index: 0;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  border: 1.6px solid;
  left: 0;
  border-image: linear-gradient(to right,#E86E0B,#CB9F38) 1;
}

.left-bar:nth-child(1) .left-bar-head0>.left-bar-icon,
.left-bar:nth-child(1) .left-bar-head0.active {
   background: rgb(137, 195, 235);
 }
.left-bar:nth-child(1) .left-bar-head0:hover,
.left-bar:nth-child(1) .left-bar-head1:hover {
  background: rgba(137, 195, 235, 0.5);
}
