<div class="absolute">
  <div class="left-bar-aside" [ngClass]="{'select-flag': riskSelF}">
    <!--基本信息-->
    <div class="relative" style="display: table">
      <div class="relative in-block left-bar-x left-bar" [ngClass]="{'active': leftFlag[0]}">
        <div class="left-bar-head">
          <div class="in-block text-center left-bar-icon fontStyle-14-1" style="line-height: 22px;">基本信息</div>
          <div class="in-block fontStyle-14-1" style="text-align: left">
            <ng-container *ngIf="sels[sel]">
              <span (click)="this.changeSel()" [ngClass]="{'fontStyle-14-6': sels[sel]['label'] === '1'}">{{sels[sel]['name']}}</span>
            </ng-container>
          </div>
        </div>
        <ng-container *ngIf="sels[sel] && sels[sel]['label'] === '1'">
          <div class="left-bar-content fontStyle-14-3">
            <div class="in-block width-50 float-left">评级：暂无</div>
            <!--<div class="in-block width-50 float-left text-right"><span (click)="$parent.shapesflag=true;shapes.getData(sels[sel].link_id)">背景关系</span>
              <img (click)="$parent.shapesflag=true;shapes.getData(sels[sel].link_id)" src="../../../assets/images/svg/shapeIcon.svg" alt="背景关系" style="margin-left: 20px"></div>
            <div class="in-block width-100 float-left">法定代表人：{{sels[sel]['leg_present']}}</div>-->
            <div class="in-block width-100 float-left">成立时间：{{sels[sel]['found_dt'] | lfsDatePipe: "yyyy年MM月dd"}}</div>
            <div class="in-block width-100 float-left">注册资本：{{sels[sel]['reg_capital']}}万元</div>
            <div class="in-block width-100 float-left">注册地址：{{sels[sel]['reg_addr']}}</div>
          </div>
        </ng-container>
      </div>
      <div class="in-block absolute cursor-pointer" style="top: 1.3px;right: -12px;" (click)="changeLeftFlag0()">
        <img [src]="leftSrc0" alt="">
      </div>
    </div>
    <!--关系列表-->
    <div class="relative" style="display: table">
      <div class="in-block">
        <ng-container *ngIf="sels[sel]">
          <div class="left-bar" (click)="showContent(index)" [ngClass]="{'active': leftFlag[1]}" *ngFor="let i of leftType[sels[sel]['label']]; let index = index">
            <div #leftBarHead class="left-bar-head" [ngClass]="{'active': leftFlag[1]}"
                 (mouseover)="changeHoverColor(1, index, leftData[i][1])" (mouseout)="changeHoverColor(0, index)">
              <div class="in-block text-center left-bar-icon fontStyle-12-1"
                   [ngClass]="{'leftFlag[1]': leftData[i][0].length == 3}"
                   [ngStyle]="{'padding': leftData[i][0].length>2 ? '4px 9px': '',
                 'line-height': leftData[i][0].length>2 ? '' : '45px',
                 'background': leftData[i][1]}">{{leftData[i][0]}}</div>
              <ng-container *ngIf="relations[i]; else isNotNull">
                <div class="in-block">共{{relations[i].length}}条</div>
              </ng-container>
              <ng-template #isNotNull>
                <div class="in-block">共0条</div>
              </ng-template>
              <div class="in-block select-no" style="width: 37px;">
                <i class="fa chart-fa-toggle" (click)="clickToggle($event, i, index)"
                   [ngClass]="getToggleFlag(i,index,relations[i])" aria-hidden="true"></i>
              </div>
            </div>

            <div #leftBarContent class="left-bar-content scroll scroll-1">
              <div class="block fontStyle-14-6 text-center">
                <div class="in-block float-left" [ngClass]="{'width-40': i=='5'||i=='t5', 'width-65': !(i=='5'||i=='t5')}">名称</div>
                <div class="in-block width-20 float-left">{{leftData[i][2]}}</div>
                <div class="in-block width-25 float-left" *ngIf="i=='5'||i=='t5'" style="border-right: 1px solid #E7E7E7;">到期时间</div>
                <div class="in-block width-15 float-left">筛选</div>
              </div>
              <div class="block fontStyle-14-3" *ngFor="let item of relations[i]">
                <div class="in-block float-left" style="padding-left: 8px" [ngClass]="{'width-40': i=='5'||i=='t5', 'width-65': !(i=='5'||i=='t5')}">{{item.node.name}}</div>
                <div class="in-block width-45 float-left text-center" *ngIf="i=='5'||i=='t5'">
                  <div *ngFor="let ia of item.edge.nexus">
                    <div class="in-block width-40 float-left text-center text-ellipsis" title="{{ia['money']}}">{{ia['money']}}</div>
                    <div class="in-block width-60 float-left text-center">{{ia['guar_end_date'] | lfsDatePipe: "yyyy-MM-dd"}}</div>
                  </div>
                </div>
                <div class="in-block width-20 float-left text-center text-ellipsis" title="{{item.edge.nexus}}" *ngIf="i!='5'&&i!='t5'">{{item.edge.nexus}}</div>
                <div class="in-block width-15 float-left text-center">
                  <i #checkSquare class="cursor-pointer fa" (click)="checkToggle($event, checkSquare, item.edge.id, i, sel)"
                     [ngClass]="retClassFun(checkSquare, item.edge.id, i, sel)"
                     aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="in-block absolute select-no cursor-pointer" style="right: -12px;top: 33%;" (click)="changeLeftFlag1()">
        <img [src]="leftSrc1" alt="">
      </div>
    </div>
  </div>
  <!--风险失信人违约企业等筛选-->
  <!-- <div class="relative in-block" style="margin-top: 16px;margin-left: 2px;margin-bottom: 5px;width: 90px">

     <div class="cursor-pointer" (click)="riskSel()">
       <div class="in-block left-bar-flag" [ngClass]="{'active': riskSelF}"></div>
       <div class="in-block" [ngClass]="{'color-7': riskSelF, 'color-4': !riskSelF}" style="vertical-align: super;">风险信息</div>
     </div>
   </div>-->
   <div style="margin-left: 2px;">
     <div *ngIf="riskSelF" class="fontStyle-14-2">存在风险信息的公司有<span class="color-13">{{reskSels.length || 0}}</span>家</div>
     <table class="fontStyle-14-2 risk-table" border="1" *ngIf="riskSelF && reskSels.length > 0">
       <thead class="text-center">
       <tr>
         <td>公司名称</td>
         <td>风险信息</td>
         <td>详情</td>
       </tr>
       </thead>
       <tbody class="scroll">
       <tr *ngFor="let i of reskSels">
         <td>{{i.name}}</td>
         <td>存在{{i['risk_label'] | lfsTypesPipe}}等</td>
         <td><a (click)="toComBase(i['link_id'])" target="_blank">查看详细</a></td>
       </tr>
       </tbody>
     </table>
   </div>
</div>

