<div class="row">
  <div class="col-lg-12 m-headLine">
    风险预警TOP5
  </div>
  <div class="col-lg-12 b-z-index_2">
    <div class="col-lg-12 news-title-back padding-left_0 padding-10">
      <div class="col-lg-12">
        <app-datepicker (dateType)="changeDate($event)" (datePickerObj)="initDate($event)"></app-datepicker>
        <div class="line-height34">
          <span #newDate class="mgn-left_5 cursor-pointer" (click)="changeNewDate(1)">最近一天</span>
          <span #newDate class="mgn-left_5 cursor-pointer" (click)="changeNewDate(2)">最近一周</span>
          <span #newDate class="mgn-left_5 cursor-pointer" (click)="changeNewDate(3)">最近一月</span>
        </div>
      </div>
      <!--<div class="col-lg-3">
        <input placeholder="开始时间 - 结束时间"
               type="text"
               #newsTrackDate
               class="form-control"
               [(ngModel)]="range"
               (click)="clickInput()"
               bsDaterangepicker
               [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', containerClass: 'theme-default' }">
      </div>-->

      <!--<div class="col-lg-offse-7 col-lg-2">
        <div class="u-more" (click)="moreTracks()">查看更多</div>
      </div>-->
    </div>
    <!--<div class="col-lg-12 news-title-back padding-left_0 padding-10">
      <div class="col-lg-5 padding-left_0">
        <span class="col-lg-4 padding-right_0">
          <input class="form-control fcr-time-input" type="text" [(ngModel)]="timeY" (change)="setTimeYM(timeY,timeM)">
        </span>
        <span class="col-lg-1 line-height30 padding-left_0 padding-right_0">
          年
        </span>
        <span class="col-lg-4 padding-right_0">
          <input class="form-control fcr-time-input" type="text" [(ngModel)]="timeM" (change)="setTimeYM(timeY,timeM)">
        </span>
        <span class="col-lg-2 line-height30 padding-left_0">
          月
        </span>
      </div>
    </div>-->
  </div>

  <div class="col-lg-12 mgn-top_-19">
    <div class="col-lg-12 sz-background padding-left-right_0">
      <ng-container *ngIf="followTopList || followTopList !== null; else isNotFCRI">
        <carousel class="m-carousel" [interval]="0" [showIndicators]="false">
          <slide>
            <app-follow-company-risk-item [followTopList]="followTopList" [num]="1" (getFollowTopList)="getFollowTopList($event)"></app-follow-company-risk-item>
          </slide>
          <slide *ngIf="copyFollowTopList || copyFollowTopList !== null">
            <app-follow-company-risk-item [followTopList]="copyFollowTopList" [num]="6" (getFollowTopList)="getFollowTopList($event)"></app-follow-company-risk-item>
          </slide>
        </carousel>
      </ng-container>
      <ng-template #isNotFCRI>
        <div class="mgn-top_20 mgn-bottom_240 padding-top-15 padding-left_15">
          该时间段暂无重点关注公司信息
        </div>
      </ng-template>
    </div>

  </div>
</div>
