.news-chart {
  height: 410px;
}


.trend-chart-time-line{
  margin-top: -49px;
  margin-left: 50px;
}


.width908 {
  width: 908px;
  padding: 0;
  margin-right: 5px;
  margin-left: 15px;
}

.width167 {
  width: 167px;
  padding: 0;
}

.height134 {
  height: 134px;
}
