<div class="row mgn-bottom_20">
  <div class="col-lg-12 m-headLine">
    新闻舆情趋势图
  </div>
  <div class="col-lg-12">
      <div class="row all-dis-set">
        <div class="col-lg-9 width908 sz-background">
          <div id="groupNewsEcharts" #groupNewsEcharts  echarts class="news-chart" [options]="options" (chartClick)="clickChart($event)" (chartInit)="onChartInit($event)"></div>
          <div class="col-lg-12 trend-chart-time-line">
            <app-time-line (clickNode)="getClickTimeLine($event)" [startAndEndTime]="startAndEndLineTime" (initApi)="getTimeInit($event)" ></app-time-line>
          </div>
        </div>
        <div class="col-lg-3 width167 padding-right_0 news-chart">
          <ul class="height100">
            <li class="height134 sz-background mgn-bottom_4">
              <ul class="mgn-left-22 padding-top-205">
                <li class="li-title mgn-top_0 color-4CA u-leaveOut" title="{{getTimeNewsData.newCount}}">{{getTimeNewsData.newCount}}</li>
                <li class="li-subtitle">全网新闻总数<span class="fontW-400">（条）</span></li>
              </ul>
            </li>
            <li class="height134 mgn-bottom_4 sz-background">
              <ul class="mgn-left-22 padding-top-205">
                <li class="li-title mgn-top_0 color-E64 u-leaveOut" title="{{getTimeNewsData.negativeNewsCount}}">{{getTimeNewsData.negativeNewsCount}}</li>
                <li class="li-subtitle">负面新闻数<span class="fontW-400">（条）</span></li>
              </ul>
            </li>
            <li class="height134 sz-background">
              <ul class="mgn-left-22 padding-top-205">
                <li class="li-title mgn-top_0 color-031 u-leaveOut" title="{{getTimeNewsData.ratio}}">{{getTimeNewsData.ratio}}</li>
                <li class="li-subtitle">负面/总新闻占比<span class="fontW-400">（%）</span></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
