<div class="row">
  <div class="col-lg-12 m-headLine risk">
    风险预警趋势图
    <ng-template #popTemplate><div [innerHtml]="html"></div></ng-template>
    <i class="mgn-left_5 fa fa-question-circle-o"
              [popover]="popTemplate"
              placement="right"></i>
  </div>
  <div class="col-lg-12">
    <div echarts class="trend-chart sz-background" [options]="options" (chartClick)="getClickChart($event)" (chartInit)="onChartInit($event)"></div>
    <div class="col-lg-12 trend-chart-time-line">
      <app-time-line (clickNode)="getClickTimeLine($event)" [startAndEndTime]="startAndEndLineTime" (initApi)="getTimeInit($event)"></app-time-line>
    </div>
  </div>
  <div class="col-lg-12 mgn-top_5 mgn-bottom_5 sz-trend all-dis-set">
      <!--<div class="col-lg-offset-10 col-lg-2 ">
          <span class="float-right line-height30 padding-right_20 u-date_title">
            日期：{{trendChartData.dataMonth}}
          </span>
      </div>-->
    <div class="col-lg-lfs5 sz-background mgn-right_5">
      <ul class="mgn-left-25">
        <li class="li-title u-leaveOut color-031" title="{{trendChartData.risk2}}">
          {{trendChartData.risk2}}
        </li>
        <li class="li-subtitle">财务风险<span class="fontW-400">（个）</span></li>
      </ul>
    </div>
    <div class="col-lg-lfs5 sz-background mgn-right_5">
      <ul class="mgn-left-25">
        <li class="li-title u-leaveOut color-4CA" title="{{trendChartData.risk1}}">
          {{trendChartData.risk1}}
        </li>
        <li class="li-subtitle">治理风险<span class="fontW-400">（个）</span></li>
      </ul>
    </div>
    <div class="col-lg-lfs5 sz-background mgn-right_5">
      <ul class="mgn-left-25">
        <li class="li-title u-leaveOut color-E64" title="{{trendChartData.risk3}}">
          {{trendChartData.risk3}}
        </li>
        <li class="li-subtitle">经营风险<span class="fontW-400">（个）</span></li>
      </ul>
    </div>
    <div class="col-lg-lfs5 sz-background mgn-right_5">
      <ul class="mgn-left-25">
        <li class="li-title u-leaveOut color-9B89EF" title="{{trendChartData.risk4}}">
          {{trendChartData.risk4}}
        </li>
        <li class="li-subtitle">市场风险<span class="fontW-400">（个）</span></li>
      </ul>
    </div>
    <div class="col-lg-lfs5 sz-background">
      <ul class="mgn-left-25">
        <li class="li-title u-leaveOut color-FF9F00" title="{{trendChartData.risk5}}">
          {{trendChartData.risk5}}
        </li>
        <li class="li-subtitle">法律法规风险<span class="fontW-400">（个）</span></li>
      </ul>
    </div>
  </div>
</div>
