.trend-chart {
  height: 400px;
}

.trend-chart-time-line{
  margin-top: -49px;
  margin-left: 62px;
}
.sz-trend .col-lg-lfs5 {
  width: 212px;
  height: 98px;
}
/*.sz-trend .li-title {
  color: #0311C1;
}*/
