.item-padding {
  padding: 10px 15px;
  margin: 0 auto;
  border-bottom: 1px solid #cfd8dc;
}
.item-padding:before {
  display: table;
  content: " "
}
.item-padding:after {
  display: table;
  content: " ";
  clear: both;
}
