.innercontainer{
  background-color: white;
  padding-top: 15px;
}
@media (min-height:550px) {
  .innercontainer {
    min-height: 535px;
  }
}
@media (min-height:650px)   {
  .innercontainer {
    min-height: 535px;
  }
}

@media (min-height:790px)   {
  .innercontainer {
    min-height: 630px;
  }
}

@media (min-height:970px)   {
  .innercontainer {
    min-height: 844px;
  }
}
.ship-title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}
