<div class="row mgn-bottom_140">
  <div class="col-lg-12 m-headLine">
    上市公司公告
  </div>

  <div class="col-lg-12">
    <div class="col-lg-12 padding-left_0 news-title-back padding-10">
      <div class="col-lg-12 padding-right_0">
          <app-datepicker (dateType)="changeDate($event)"></app-datepicker>
          <select [(ngModel)]="riskType" class="form-control sz-risk mgn-left_15">
            <option *ngFor="let item of riskTypes" [value]="item.id">{{item.type}}</option>
          </select>
          <div class="col-lg-2 padding-right_0">
            <span class="line-height30 ">
              <input type="checkbox" class="check-box checkbox-inline mgn-top_0" (click)="setCheckBox(checkBox1,1)" [checked]="checkBox1"> <span class="">负面</span>
            </span>
              <span class="line-height30 padding-left_15">
              <input type="checkbox" class="check-box checkbox-inline mgn-top_0" (click)="setCheckBox(checkBox2,2)" [checked]="checkBox2"> <span class="">重要性</span>
            </span>
          </div>
          <div class="col-lg-1 padding-0" *ngIf="newsTrack !=null && newsTrack.length>0">
            <div class="u-more" (click)="moreTracks()">查看更多</div>
          </div>
      </div>
    </div>
  </div>


  <div class="col-lg-12">
    <div class="col-lg-12 sz-background padding-left-right_0">
      <ng-container *ngIf="newsTrack != null  && newsTrack.length >0 ; else isNotNewsTrack">
        <app-event-risk-item [newsTrack]="newsTrack"></app-event-risk-item>
      </ng-container>
      <ng-template #isNotNewsTrack>
        <div class="mgn-top_15 mgn-bottom_240 padding-left_15">
          该时间段暂无公告
        </div>
      </ng-template>
    </div>
  </div>
</div>
