<div class="row">
  <div class="col-lg-12 m-headLine">
    风险地图
    <div class="m-head-subtitle">截止时间：<span>{{subtextSrc}}</span></div>
  </div>
  <div class="col-lg-12 b-z-index_2 height0">
    <div class="geo-tab">
      <div class="tab-value" *ngFor="let tab of tabList;" (click)="clickTab(tab.key,selectTab)" [ngClass]="{'active':(selectTab == tab.key)}">
        {{tab.value}}
      </div>
    </div>
  </div>
  <div *ngIf="selectTab == 0">
    <div *ngIf="cityRiskLevel.regionName != '深圳市'&& selectMapSize ==0" class="in-geo-back">
      <span class="back-geo-title cursor-pointer" (click)="getInitMapData()">返回</span>
    </div>
    <div class="col-lg-12 padding-left-right_0">
      <div class="" [ngClass]="{'col-lg-12 height400':selectMapSize == 0,'col-lg-8 padding-right_0 width-740':selectMapSize != 0}">
        <div class="col-lg-12 padding-left-right_0 geog-chart-div" [ngClass]="{'width-1080':selectMapSize == 0,'width-740':selectMapSize != 0}">
          <div echarts class="geog-chart sz-background" [options]="options" (chartClick)="clickChart($event);" (click)="anClick($event)"></div>
        </div>
      </div>
      <div *ngIf="selectMapSize!=0" class="col-lg-4 padding-left_0 width-370">
        <div class="back-geo">
          <span class="back-geo-title cursor-pointer" (click)="getInitMapData()">返回</span>
        </div>
        <div class="col-lg-12 m-scrollbar negative-all-company padding-left-right_0">
          <div class="negative-company col-lg-12 padding-left-right_0 line-height40 color-fff background-6770E0">
            <div class="col-lg-7 u-leaveOut cursor-pointer"  title="{{selectCompany.companySnm}} 「{{selectCompany.securityCd}}」"><a (click)="goCompanyInfo(selectCompany.companyId,$event)" class="color-fff">{{selectCompany.companySnm}} 「{{selectCompany.securityCd}}」</a></div>
            <div class="col-lg-5">风险概览</div>
          </div>
          <div class="col-lg-12 align-center padding-left-right_0 background-F6F7F9 padding-top-5">
            <div class="col-lg-3">
              <ul>
                <li class="color-031 mgn-bottom_3">{{selectCompany.riskZhiLiCount}}</li>
                <li class="color-34495E">公司治理</li>
              </ul>
            </div>
            <div class="col-lg-3">
              <ul>
                <li class="color-031 mgn-bottom_3">{{selectCompany.riskXinXiCount}}</li>
                <li class="color-34495E">信息披露</li>
              </ul>
            </div>
            <div class="col-lg-3">
              <ul>
                <li class="color-031 mgn-bottom_3">{{selectCompany.riskCaiWuCount}}</li>
                <li class="color-34495E">财务会计</li>
              </ul>
            </div>
            <div class="col-lg-3">
              <ul>
                <li class="color-031 mgn-bottom_3">{{selectCompany.riskQiTaCount}}</li>
                <li class="color-34495E">其他</li>
              </ul>
            </div>
          </div>
          <div class=" col-lg-12 padding-left-right_0">
            <div class="col-lg-12 color-34495E mgn-top_15" >{{selectCompany.riskContent}}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mgn-top_-44 mgn-bottom_10 all-dis-set" >
        <div class="col-lg-12 line-height30 fontW-700 ">
           <span class="font-24 color-546">
            <img class="vertical-sub atalsImgWH" src="assets/images/region/dingwei.png">
            <span *ngIf="cityRiskLevel.regionName != '深圳市'" (click)="clickChart({szCity:0})" class="cursor-pointer">深圳</span>
          {{cityRiskLevel.regionName == '深圳市'?'深圳':cityRiskLevel.regionName}}
          </span>
          <span class="line-height30 padding-right_20 u-date_title">公司分布按注册地统计</span>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row">

        <div class="col-lg-12 mgn-top_5 sz-geography all-dis-set geography-box-shadow">
          <div class="col-lg-3 sz-background width266 all-dis-set ">
            <div class="col-lg-12">
              <ul>
                <li class="geography-li-title align-center color-E64A19">{{cityRiskLevel.highRiskCount}}</li>
                <li class="geography-li-subtitle align-center color-54698D">高风险<span class="color-ccc">（家）</span></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 sz-background width266 geo-mgn-left all-dis-set">
            <div class="col-lg-12">
              <ul>
                <li class="geography-li-title align-center color-FF9F00">{{cityRiskLevel.mediumRiskCount}}</li>
                <li class="geography-li-subtitle align-center color-54698D">次高风险<span class="color-ccc">（家）</span></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 sz-background width266 geo-mgn-left all-dis-set">
            <div class="col-lg-12">
              <ul>
                <li class="geography-li-title align-center color-FFD300">{{cityRiskLevel.focusCount}}</li>
                <li class="geography-li-subtitle align-center color-54698D">关注<span class="color-ccc">（家）</span></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 sz-background width266 geo-mgn-left all-dis-set">
            <div class="col-lg-12">
              <ul>
                <li class="geography-li-title align-center color-4CA">{{cityRiskLevel.lowRiskCount}}</li>
                <li class="geography-li-subtitle align-center color-54698D">正常<span class="color-ccc">（家）</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectTab == 1">
    <app-negative-info></app-negative-info>
  </div>
  <div *ngIf="selectTab == 2">
    <app-risk-dimension></app-risk-dimension>
  </div>
</div>
