/* You can add global styles to this file, and also import other style files */
html, body {
  overflow-y: hidden;
  min-width: 1280px;
  overflow-x: auto;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  padding-bottom: 50px;
  background-color: #EDF0F5;
}
body, button, html, input, select, textarea {
  font-family: "Microsoft YaHei",微软雅黑,MicrosoftJhengHei,华文细黑,STHeiti,MingLiu,sans-serif;
}
.container {
  width: 1110px;
  margin-bottom: 20px;
}
/*@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1030px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1310px;
  }
}*/
ul {
  padding-left: 0;
}
ul>li {
  list-style-type: none;
}
a:hover, a:focus {
  text-decoration-line: none;
}
a[href] {
  cursor: pointer;
}
.modal-dialog {
  position: fixed;
  margin-top: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.popover {
  color: #333;
  font-family: "Microsoft YaHei",微软雅黑,MicrosoftJhengHei,华文细黑,STHeiti,MingLiu,sans-serif;
}
