.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.block{
  display: block;
}
.none{
  display: none;
}
.in-block {
  display: inline-block;
}
.fontStyle-12-1 {
  font-size: 12px !important;
  color: #fff !important;
}
.fontStyle-12-2 {
  font-size: 12px !important;
  color: #333 !important;
}
.fontStyle-14-1 {
  font-size: 14px !important;
  color: #333333 !important;
}
.fontStyle-14-2 {
  font-size: 14px !important;
  color: #FFFFFF !important;
}
.fontStyle-14-6 {
  font-size: 14px !important;
  color: #004784 !important;
}
.fontStyle-14-3 {
  font-size: 14px !important;
  color: #666666 !important;
}
.width-15{
  width: 15%;
}
.width-20 {
  width: 20%;
}
.width-25{
  width: 25%;
  float: left;
}
.width-40 {
  width: 40%;
  float: left;
}
.width-45{
  width: 45%;
  float: left;
}
.width-50 {
  width: 50%;
  float: left;
}
.width-60{
  width: 60%;
  float: left;
}
.width-65 {
  width: 65%;
  float: left;
}
.width-100 {
  width: 100%!important;
}
.text-ellipsis {
  white-space:nowrap!important;
  overflow:hidden!important;
  text-overflow:ellipsis!important
}
.select-no{/*禁止选择*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.color-7{
  color:#fff;
}
.color-4{
  color: #333;
}
.color-13{
  color: #FC4256;
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-toggle-on:before{
  color: #488FE3;
}
.fa-toggle-on:hover:before{
  color: #fff;
}







.scroll{
  overflow: auto;
}
.scroll {
  scrollbar-base-color: transparent;
  scrollbar-3dlight-color: transparent;
  scrollbar-highlight-color: transparent;
  scrollbar-track-color: transparent;
  scrollbar-arrow-color: #EC7219;
  scrollbar-shadow-color: #EC7219;
  -ms-scrollbar-face-color: #EC7219;
}
.scroll::-webkit-scrollbar {
  width:4px;
  height: 10px;
}
.scroll::-webkit-scrollbar-button    {
  display: none;
}
.scroll::-webkit-scrollbar-track     {
  display: none;
}
.scroll::-webkit-scrollbar-thumb{
  background: #EC7219;
}
.scroll-1::-webkit-scrollbar {
  width:8px;
  max-height: 10px;
}
.scroll-1::-webkit-scrollbar-button    {
  display: none;
}
.scroll-1::-webkit-scrollbar-track{
  display: none;
}
.scroll-1::-webkit-scrollbar-track-piece{
  background: #ECEBEB;
}
.scroll-1::-webkit-scrollbar-thumb{
  background: #C6C5C5;
}


.atlas-map-back-img{
  position: absolute;
}
