.item-padding {
  padding: 10px 15px;
  margin: 0 auto;
  border-bottom: 1px solid #cfd8dc;
}
.item-padding:before {
  display: table;
  content: " "
}
.item-padding:after {
  display: table;
  content: " ";
  clear: both;
}


.u-select-company{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  width: 20%;
}
.u-select-company .row{
  width: 100%;
}
.u-input-company .u-form-control-div{
  width: 100%;
}


.u-select-input-company-div{
  display: inline-block;
  float: left;
}

.del-span{
  color: #ccc;
  padding: 0 3px;
  cursor: pointer;
}


.sz-news:nth-of-type(odd) {
  background-color: #fff;
}
.sz-news:nth-of-type(even) {
  background-color: #F6F7F9;
}

.search-company-data .height250-y{
  border-radius: 4px;
}

.height250-y {
  max-height: 250px;
  overflow: auto;
}

.select-company-list{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 111px;
  overflow-y: auto;
  font-size: 13px;
  background-color: #b8d3ff;
  position: absolute;
  bottom: 6px;
  width: 93%;
  margin: auto 15px;
}


.add-company-HeightModal {
  height: 330px;
}

.form-control-0{
  display: block;
  width: 100%;
  border: 1px solid #3F51B5;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
}
.del-span-0{
  float: right;
  margin-top: -24px;
  margin-right: 10px;
  background-color: #ccc;
  border-radius: 50%;
  width: 20px;
  padding: 0 5px;
  color: #ffffff;
  cursor: pointer;
}

.del-span-0:focus{
  background-color: #cfd8dc;
  color: #ffffff;
  cursor: pointer;
}
