<div class="modal-header">
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body message-company-HeightModal overflow-y">
  <div class="message-key" #messageKey>
    <!--{{messageObj.ele}}--></div>
  <div class="message-value">{{messageObj?.message}}</div>
</div>
<!--
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="confirm()">确定</button>
</div>
-->
