<div class="col-lg-12 setting-box" [hidden]="selectInfoPaw == 2">
  <div class="col-lg-8 setting-box-body">
    <div class="col-lg-12 user-setting padding-left-right_0" [hidden]="selectInfoPaw != 0">
      <div class="col-lg-12 info-setting line-height30">
        <div class="col-lg-2 line-height40 padding-left-right_0 ">
          <div class="col-lg-3 fa fa-user padding-left-right_0"></div>
          <div class="col-lg-9 padding-left-right_0">用户名：</div>
        </div>
        <div class="col-lg-10 line-height40 padding-left-right_0">{{userInfo.accountNm}}</div>
      </div>
      <div class="col-lg-12 info-setting line-height30">
        <div class="col-lg-7 padding-left-right_0">
          <div class="col-lg-12 padding-left-right_0">
            <span class="color-ccc info-setting-show font-12">显示名：</span>
          </div>
            <input type="text" class="form-control" placeholder="请输入显示名" [(ngModel)]="userNm" (change)="keyUpFun($event,userNm)" maxlength="15"
                   autocomplete="off"
            >
            <span class="font-12 color-A8B7C7">15个字以内</span>
        </div>
        <div class="col-lg-5 padding-left-right_0" *ngIf="isCanUse == 1">
          <i class="fa fa-check-circle"></i>
        </div>
        <div class="col-lg-5 padding-right_0" *ngIf="isCanUse == 2">
          <div class="no-use-message">
           {{message}}
          </div>
        </div>
      </div>
      <div class="col-lg-7 info-setting-button line-height30 mgn-top_10 mgn-bottom_70 padding-right_0">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 line-height40 padding-right_0">
          <button class="setting-button font-back-FFFFFF" (click)="delSrc()">取消</button>
        </div>
        <div class="col-lg-4 line-height40 padding-right_0">
          <button class="setting-button font-back-3F51B5" (click)="saveInfo(userNm)">保存</button>
        </div>
      </div>
    </div>

    <div class="col-lg-12 user-setting padding-left-right_0" [hidden]="selectInfoPaw != 1">
      <div class="col-lg-12 info-setting line-height30">
        <div class="col-lg-7 padding-left-right_0">
          <div class="col-lg-12 padding-left-right_0">
            <span class="color-ccc info-setting-show font-12">原密码：</span>
          </div>
            <input type="{{eye==0?'text':'password'}}" class="form-control" placeholder="请输入原密码" [(ngModel)]="paw" (change)="keyUpFun0($event,paw)"
                   autocomplete="off"
                   readonly
                   onfocus="this.removeAttribute('readonly')"
            >
            <i class="fa fa-eye" *ngIf="eye == 0" (click)="eye = 1"></i>
            <i class="fa fa-eye-slash"  *ngIf="eye == 1" (click)="eye = 0"></i>
        </div>
        <div class="col-lg-5 padding-left-right_0" *ngIf="pawIsCanUse == 1">
          <i class="fa fa-check-circle"></i>
        </div>
        <div class="col-lg-5 padding-right_0" *ngIf="pawIsCanUse == 2">
          <div class="no-use-message">
           {{pawMessage}}
          </div>
        </div>
      </div>
      <div class="col-lg-12 info-setting line-height30">
        <div class="col-lg-7 padding-left-right_0">
          <div class="col-lg-12 padding-left-right_0">
            <span class="color-ccc info-setting-show font-12">新密码：</span>
          </div>
          <div>
            <input type="{{eye_0==0?'text':'password'}}"  class="form-control" placeholder="请输入新密码" [(ngModel)]="paw0" (change)="keyUpFun1($event,paw0)"
                   autocomplete="off"
                   readonly
                   onfocus="this.removeAttribute('readonly')"
            >
            <i class="fa fa-eye" *ngIf="eye_0 == 0" (click)="eye_0 = 1"></i>
            <i class="fa fa-eye-slash"  *ngIf="eye_0 == 1" (click)="eye_0 = 0"></i>
          </div>
          <span class="font-12 color-A8B7C7">必须包含8-16位字母、数字或“_”,字母开头</span>
        </div>
        <div class="col-lg-5 padding-left-right_0" *ngIf="pawIsCanUse_0 == 1">
          <i class="fa fa-check-circle"></i>
        </div>
        <div class="col-lg-5 padding-right_0" *ngIf="pawIsCanUse_0 == 2">
          <div class="no-use-message">
           {{pawMessage_0}}
          </div>
        </div>
      </div>
      <div class="col-lg-12 info-setting line-height30">
        <div class="col-lg-7 padding-left-right_0">
          <div class="col-lg-12 padding-left-right_0">
            <span class="color-ccc info-setting-show font-12">确认密码：</span>
          </div>
          <div class="col-lg-12 padding-left-right_0">
            <div>
              <input type="{{eye_1==0?'text':'password'}}" class="form-control"  placeholder="请输入确认密码" [(ngModel)]="paw1" (change)="keyUpFun2($event,paw1)"
                     autocomplete="off"
                     readonly
                     onfocus="this.removeAttribute('readonly')"
              >
              <i class="fa fa-eye" *ngIf="eye_1 == 0" (click)="eye_1 = 1"></i>
              <i class="fa fa-eye-slash"  *ngIf="eye_1 == 1" (click)="eye_1 = 0"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-5 padding-left-right_0" *ngIf="pawIsCanUse_1 == 1">
          <i class="fa fa-check-circle"></i>
        </div>
        <div class="col-lg-5 padding-right_0" *ngIf="pawIsCanUse_1 == 2">
          <div class="no-use-message">
           {{pawMessage_1}}
          </div>
        </div>
      </div>
      <div class="col-lg-7 info-setting-button line-height30 mgn-top_10 mgn-bottom_70 padding-right_0">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 line-height40 padding-right_0">
          <button class="setting-button font-back-FFFFFF" (click)="delSrc()">取消</button>
        </div>
        <div class="col-lg-4 line-height40 padding-right_0">
          <button class="setting-button font-back-3F51B5" (click)="updatePaw(paw,paw0,paw1)">保存</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="col-lg-12 user-setting padding-left-right_0" [hidden]="selectInfoPaw != 2">
  <app-focus-company ></app-focus-company>
</div>



<ng-template #messageModel>
  <app-message-company [messageObj]="messageObj" (addType)="setTimeHideMessage()"></app-message-company>
</ng-template>
