#cy {
  position: absolute;
  top: 68px;
  width: 100%;
  height: calc(100% - 68px);
  transition: all .55s cubic-bezier(.25, .8, .25, 1);
  background: #fff;
}
.chart-bar {
  position: relative;
  z-index: 1;
}
