<div class="company-info-heard-div">
    <div class="sz-com">
      <div class="col-lg-8 company-info-heard">
        <span class="company-info-heard-title">
          {{companyInfo.companySnm}}
        </span>
        <span class="company-info-heard-nm">
          [
            <span>
              {{companyInfo.securityCds}}
            </span>
          ]
          <span class="company-info-heard-nm1">
          全称：{{companyInfo.companyNm}}
          </span>
        </span>
      </div>
      <div class="col-lg-4 line-height70 company-info-div">
        <span class="company-info-focus " *ngIf="!appCompanyInfo.followedCompanyFlag" (click)="appCompanyInfo.addFocus()">+重点关注</span>
        <span class="company-info-focus " *ngIf="appCompanyInfo.followedCompanyFlag" (click)="appCompanyInfo.deleteFocus()">取消关注</span>
      </div>
    </div>
</div>
<div class="container mgn-bottom_70">
  <!-- 公司信息-->
  <app-company-info #appCompanyInfo [companyInfo]="companyInfo" [companyId]="companyId"></app-company-info>

  <!-- 新闻事件趋势图 -->
  <app-company-risk-trend-map [companyId]="companyId"></app-company-risk-trend-map>

  <!-- 风险预警-->
  <app-risk-early-warning [companyId]="companyId"></app-risk-early-warning>

  <!-- 舆情事件 -->
  <app-opinion-event-track [companyId]="companyId"></app-opinion-event-track>

  <!-- 公司公告 -->
  <app-company-notice-track [companyId]="companyId"></app-company-notice-track>

  <!-- 财务信息 -->
  <app-financial-info [companyId]="companyId" [companyName]="companyNm"></app-financial-info>

  <!-- 股东及投资信息 -->
  <app-share-inves-info [companyId]="companyId"></app-share-inves-info>
</div>
