<div class="row">
  <div class="col-lg-12">
    <ng-container *ngIf="earlyWarningList || earlyWarningList !== null; else isNotEarlyWarning">
      <carousel class="m-carousel" [interval]="interval" [showIndicators]="false">
        <slide>
          <app-warning-item [earlyWarningList]="earlyWarningList" [num]="1" (openType)="intervalCarousel($event)"></app-warning-item>
        </slide>
        <slide *ngIf="copyEarlyWarningList || copyEarlyWarningList !== null">
          <app-warning-item [earlyWarningList]="copyEarlyWarningList" [num]="6" (openType)="intervalCarousel($event)"></app-warning-item>
        </slide>
      </carousel>
    </ng-container>
    <ng-template #isNotEarlyWarning>
      <div class="mgn-top_15 mgn-bottom_70">
        {{ getYear |lfsDatePipe :'-':true }} 暂无风险预警信息
      </div>
    </ng-template>
  </div>
  <div class="col-lg-12 align-right">
   <!-- <span class="u-more" (click)="moreWarning()">查看更多</span>-->
  </div>
</div>
