<accordion class="m-accordion" [closeOthers]="true">
  <accordion-group #group (isOpenChange)="open($event)" *ngFor="let earlyWarning of earlyWarningList; let i = index;">
    <div accordion-heading>
      <div class="row all-dis-set">
        <div class="col-lg-m-1 line-height30 color-333 font-18">{{ i+num }}</div>
        <div class="col-lg-m-4 line-height30 color-163">
          <span (click)="openCompanyDetail(earlyWarning,$event)">{{ earlyWarning.companyNm }}[{{ earlyWarning.securityCd}}]</span>
        </div>
        <div class="col-lg-m-3 line-height30">
          <div class="float-left">
            <span class="color-677">上榜理由：</span>
            命中
            <span class="color-7219">{{ earlyWarning.warnCount }}</span>
            条预警指标
          </div>
          <div class="float-left mgn-top_14 mgn-left_15 m-arrow_down"></div>
        </div>
        <div class="col-lg-m-2 line-height30 width20">
          <div class="color-546 u-leaveOut"
               data-toggle="tooltip"
               data-trigger="hover"
               data-placement="top"
               title="{{ earlyWarning.supervisor }}">监管人员：{{ (earlyWarning.supervisor == ''||earlyWarning.supervisor == null)?'-':earlyWarning.supervisor }}</div>
        </div>
        <div class="col-lg-m-3 sz-warning width12">
          <app-follow [follow]="earlyWarning"></app-follow>
        </div>
      </div>
    </div>
    <div *ngFor="let type of earlyWarning.typeMap | mapTrans" class="u-list">
      <p class="fontW-700 font-16">{{ type['key'] }}</p>
      <ul>
        <li *ngFor="let item of type['value']" class="line-height30">
          <div class="u-circular"></div>
          {{ item }}
        </li>
      </ul>
    </div>
  </accordion-group>
</accordion>
