<div class="container sz-background">
  <div *ngIf="newsWarning != null">
  <div class="row mgn-top_20">
    <div class="col-lg-9 fontW-700">
      <span [innerHtml]="newsWarning.newsTitle"></span>
      <span *ngIf="score < 0" class="news-emotion b-border">负面</span>
    </div>
    <div class="col-lg-3">
      关联性：
      <rating [(ngModel)]="rate" [max]="max" [readonly]="true"></rating>
    </div>
  </div>
  <div class="row mgn-top_15">
    <div class="col-lg-2">
      来源: {{ newsWarning.newsSource }}
    </div>
    <div class="col-lg-10">
      {{ newsWarning.publishTime | lfsDatePipe: "yyyy-MM-dd HH:mm" }}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr>
    </div>
    <div class="col-lg-12 btn-group">
        <div *ngFor="let item of newsWarning.sheetLabel | mapTrans; let i = index">
          <ng-container *ngIf="item['key'] === '其他事件'; else isNotSheet">
            <div *ngIf="i === 0" class="otherBtn">{{ item['key'] }}</div>
          </ng-container>
          <ng-template #isNotSheet>
            <label *ngIf="i < 4" class="float-left btn btn-{{ i }}" [(ngModel)]="checkModel[i]" (click)="highLight(i, item['value'])" btnCheckbox>{{ item['key'] }}</label>
          </ng-template>
        </div>
    </div>
    <div class="col-lg-12 mgn-top_15 mgn-bottom_70" [innerHtml]="newsWarning.content"></div>
  </div>
  </div>
</div>
