<div class="container mgn-top_15">
  <app-news-item [newsTrack]="newsTrack"></app-news-item>

  <div class="m-pagination text-right mgn-bottom_10">
    <pagination [boundaryLinks]="true"
                [maxSize]="7"
                [rotate]="false"
                [totalItems]="totalItems"
                [itemsPerPage]="itemsPerPage"
                [(ngModel)]="currentPage"
                (pageChanged)="getNewsTrack($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>

</div>
