<div class="sz-background">
  <div class="row">
    <div class="col-lg-12 line-height50">
      <div class="float-left fontW-700 mgn-right_15 mgn-left_15">公司：</div>
      <input type="text" class="form-control float-left width-262 mgn-t-7" [(ngModel)]="company" placeholder="公司名称">
      <a class="float-left mgn-left_15 cursor-pointer" (click)="search()" >查询</a>
    </div>
  </div>
  <div class="row mgn-row account-row0 fontW-700 color-54698D">
    <div class="col-lg-3">公司名称</div>
    <div class="col-lg-3">公司简称[机构代码]</div>
    <div class="col-lg-4">注册地址</div>
    <div class="col-lg-2">操作</div>
  </div>
  <div class="row mgn-row account-row" *ngFor="let watch of watchInfo" [hidden]="(watchInfo == null)">
    <div class="col-lg-3 u-leaveOut color-54698D"
         data-toggle="tooltip"
         data-trigger="hover"
         data-placement="top"
         title="{{watch.companyNm}}">{{ watch.companyNm }}</div>
    <div class="col-lg-3 u-leaveOut color-54698D">
      {{ watch.companySnm }}[{{ watch.securityCds }}]
    </div>
    <div class="col-lg-4 u-leaveOut color-54698D"
         data-toggle="tooltip"
         data-trigger="hover"
         data-placement="top"
         title="{{watch.regAddr}}">
      {{ watch.regAddr }}
    </div>
    <div class="col-lg-2"><i class="fa fa-edit cursor-pointer" (click)="edit(levelEditTemplate, watch)"></i></div>
  </div>
  <div [hidden]="!(watchInfo == null)" class="col-lg-12 color-54698D align-center">暂无搜索结果</div>
  <div class="m-pagination text-right mgn-bottom_70">
    <pagination [boundaryLinks]="true"
                [maxSize]="7"
                [rotate]="false"
                [totalItems]="totalItems"
                [itemsPerPage]="itemsPerPage"
                [(ngModel)]="currentPage"
                (pageChanged)="getWatch($event,company)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
</div>
<ng-template #levelEditTemplate>
  <app-company-base-info-edit [watch]="watchData" (type)="editWatch($event)"></app-company-base-info-edit>
</ng-template>
