<div class="container">
  <app-opinion-event-item [newsTrack]="newsTrack"></app-opinion-event-item>

  <div class="m-pagination text-right">
    <pagination [boundaryLinks]="true"
                [maxSize]="7"
                [rotate]="false"
                [totalItems]="totalItems"
                [itemsPerPage]="itemsPerPage"
                [(ngModel)]="currentPage"
                (pageChanged)="getNewsTrack($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
</div>>

