<div class="row">
  <div class="col-lg-12 m-headLine">
    风险预警
  </div>
  <div class="risk-early-tab">
    <div class="col-lg-12">
      <div class="col-lg-12 padding-left_0">
        <ul>
          <li *ngFor="let t of riskDataBaseList;let inx = index" [ngClass]="{'active':(t.type==selectType)}" (click)="getRiskWarning(companyId,t.type)">{{t.value}}({{t.count}})</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="risk-early-table">
    <div class="col-lg-12">
      <div  class="risk-early-table-body m-scrollbar">
        <div *ngIf="riskWarningList.length == 0 || riskWarningList==null" class="risk-early-table-no-body">
          暂无预警数据
        </div>
       <div  class="row" >
          <div  *ngFor="let riskWarning of riskWarningList;let inx = index" class="col-lg-12 track-padding sz-news" >
            <div *ngFor="let item of riskWarning.typeMap | mapTrans" class="all-dis-set">
              <div  class="col-lg-6 line-height50 all-dis-set">
                <div class="col-lg-4 padding-left_0 font-14 color-546">{{riskWarning.noticeDt}}</div>
                <div class="col-lg-8 padding-left_0 ">
                  <div class="">
                    <div class="width-80 display-inlineB">
                    <span  class="u-span-height color-E64" *ngIf="riskWarningList[inx].importance == 3">
                      <span class="m-radius-span_e64a19"></span>高
                    </span>
                      <span  class="u-span-height color-FF9F00" *ngIf="riskWarningList[inx].importance == 2">
                      <span class="m-radius-span_ff9f00"></span>中
                    </span>
                      <span  class="u-span-height color-4CA" *ngIf="riskWarningList[inx].importance == 1">
                      <span class="m-radius-span_4caf50"></span>低
                    </span>
                      <span  class="u-span-height color-E64" *ngIf="riskWarningList[inx].importance == 0">
                      <span class="m-radius-span_e64a19"></span>全
                    </span>
                    </div>
                    <span class="u-risk-early-span u-leaveOut"  title="{{riskWarning.typeSecond}}">
                    {{item['key']}}
                  </span>
                  </div>
                </div>
              </div>
              <div  class="col-lg-6 line-height50 u-leaveOut font-14 color-16325C fontW-700" data-placement="top" data-toggle="tooltip" data-trigger="hover" title=" {{item['value']}}">
                {{item['value']}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
