<div class="row">
  <div class="col-lg-12 m-headLine">
    上市公司公告
  </div>
  <div class="col-lg-12">
    <div class="col-lg-12 news-title-back padding-10 padding-left_0">
      <div class="col-lg-10">
        <app-datepicker (dateType)="changeDate($event)"></app-datepicker>
      </div>
      <!--<div class="col-lg-3">
        <input placeholder="开始时间 - 结束时间"
               type="text"
               #newsTrackDate
               class="form-control"
               [(ngModel)]="range"
               bsDaterangepicker
               (click)="clickInput()"
               [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', containerClass: 'theme-default' }">
      </div>-->
      <div class="col-lg-2 padding-0" *ngIf="newsTrack !=null && newsTrack.length>0">
        <div class="u-more" (click)="moreTracks()">查看更多</div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="col-lg-12 sz-background padding-left-right_0">
      <ng-container *ngIf="newsTrack || newsTrack !== null; else isNotNewsTrack">
        <app-company-notice-item [newsTrack]="newsTrack"></app-company-notice-item>
      </ng-container>
      <ng-template #isNotNewsTrack>
        <div class="mgn-top_15 mgn-bottom_240 padding-left_15">
          该时间段暂无公告
        </div>
      </ng-template>
    </div>
  </div>

</div>
