<div class="row">
  <div class="col-lg-12">
    <div class="m-timeLine">
      <div class="m-timeLine-line"></div>
      <div>
        <ul class="m-timeLine-year">
          <li *ngFor="let t0 of timeObj;let i0 = index;" (click)="clickY(i0,t0,timeObj,0)" [ngStyle]="t0.tStyle"  [ngClass]="t0.tClass">
            <span class="m-timeLine-year-button">
              <span class="m-radius-span m-radius-span-position"></span>
              <a >{{t0.value}}</a>
            </span>
            <ul class="m-timeLine-month">
              <li *ngFor="let t1 of t0.child;let i1 = index;" (click)="clickM(i1,t1,t0,timeObj,$event,0)" [ngStyle]="t1.tStyle"  [ngClass]="t1.tClass">
                <span class="m-radius-span m-radius-span-position"></span>
                <a >{{t1.value}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
