/*#error-page {
  background: #F0F2F5;
  text-align: center;
  position: relative;
}*/
 #error-page-content {
  width: 480px;
  margin: 10% auto 0 auto;
  text-align: center;
}
 #error-page-content h1 {
  font-family: 'oswald';
  font-size: 150px;
  font-weight: bold;
  color: #e82a62;
}
 #error-page-content p a {
  color: #e82a62;
}
 #error-page-content p a:hover,
 #error-page-content p a:focus {
  text-decoration: underline;
}
