.m-menu {
  margin-top: 68px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 60px;

  position: absolute;
}

.m-menu .sz-menu:before{

}
.m-menu .sz-menu:after{

}
.m-menu .sz-menu {
  z-index: 99;
  position: fixed;
  cursor: pointer;
  height: 100%;
  background-image: linear-gradient(-180deg, #0311C1 0%, #000525 100%);
  background: #354053;
  color: #A8B7C7;
}
.m-menu .sz-menu li {
  position: relative;
  width: 68px;
  height: 80px;
  min-height: 80px;
  padding: 10px 5px;
  text-align: center;
  font-size: 14px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
.m-menu .sz-menu .active {
  cursor: pointer;
  color: #fff;
  background: #0311C1;
}
.m-menu .sz-menu li:focus, .m-menu .sz-menu li:visited, .m-menu .sz-menu li:hover {
  outline: 0;
}
.sz-menu-w {
  width: 180px !important;
}
.region, .group, .area {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.region span, .group span, .area span {
  margin-left: 15px;
}



/*风险总览*/
.i-img-region{
  padding: 0 9px 0 9px;
  background-image: url("../../../assets/images/region/regionB.svg");
}
.active .i-img-region{
  padding: 0 9px 0 9px;
  background-image: url("../../../assets/images/region/regionA.svg");
}

/*重点关注*/
.i-img-group{
  padding: 0 9px 0 9px;
  background-image: url("../../../assets/images/group/groupB.svg");
}

.active .i-img-group{
  padding: 0 9px 0 9px;
  background-image: url("../../../assets/images/group/groupA.svg");
}

/*关联图谱*/
.i-img-atlas{
  padding: 0 9px 0 9px;
  background-image: url("../../../assets/images/atlas/socialshare.svg");
}
.active .i-img-atlas{
  padding: 0 9px 0 9px;
  background-image: url("../../../assets/images/atlas/socialshare2.svg");
}


.i-img{
  padding-left: 0;
  padding-right: 34px;
  padding-top: 15px;
  background: url(../../../assets/images/menu-icon.png) no-repeat scroll -107px -308px transparent;
}
