.header-cum{
  position: inherit;
}
.sz-pl {
  padding-left: 1.4%;
  background-color: #010645;
}
.sz-nav {
  height: 68px;
}
.sz-nav .navbar-brand {
  height: 68px;
  line-height: 38px;
}
.sz-nav .navbar-nav {
  margin: 9px -15px;
}
.sz-nav .navbar-collapse {
  position: relative;
}
.sz-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -15px;
  width: 1080px;
  height: 68px;
}
.sz-nav input {
  width: 318px;
  height: 32px;
  padding: 5px 11px;
  border-radius: 2px;
  color: #fff;
  border: none;
  background: rgba(255,255,255,0.20);
}
.sz-center i {
  position: absolute;
  right: 11px;
  top: 10px;
  color: #fff;
}
.sz-center a {
  color: #8c8c8c;
}



.sz-news:nth-of-type(odd) {
  background-color: #fff;
}
.sz-news:nth-of-type(even) {
  background-color: #F6F7F9;
}


.search-company-data .sz-news{
  cursor: pointer;
}
.search-company-data .sz-news:hover{
  background-color: rgba(34, 97, 173, 1);
  color: #fff;
}


.del-span{
  color: #ccc;
  padding: 0 3px;
  cursor: pointer;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #ffffff;
  background-color:transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #ffffff;
  background-color: transparent;
}

.i-img-header{
  padding: 12px 9px 0 4px;
  background-image: url("../../../assets/images/svg/Shape.svg");
}
