.right-bars {
  padding-right: 4px;
  padding-top: 65px;
  padding-bottom: 20px;
  min-width: 48px;
}

.chart-theme {
  float: right;
  clear: both;
  margin-right: 2px;
}

.chart-theme img {
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
  border: 1px solid #CCC;
}

.chart-theme .disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.chart-operations {
  float: right;
  clear: both;
  margin-top: 24px;
}
.chart-biaozhu img {
  width: 16px;
  height: 16px;
}

.chart-operations div:nth-child(3) {
  margin-top: 8px;
}

.chart-biaozhu {
  width: 80px;
  float: right;
  clear: both;
  margin-top: 40px;
  margin-right: 2px;
}

.chart-biaozhu div:not(:first-child):not(:last-child) {
  margin-top: 12px;
  margin-bottom: 12px;
}

.chart-biaozhu div:before {
  display: inline-block;
  content: "";
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.chart-biaozhu div span:first-child {
  display: inline-block;
  margin-right: 4px;
  width: 48px;
  text-align: right;
}

.chart-biaozhu div span:last-child {
  display: inline-block;
  width: 16px;
}
.chart-riskback-btn{
  position: relative;
  color: #D28331;
  background-color: transparent;

  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #000;
  z-index: 1;
  overflow: hidden;
  width: 71px;
  height: 28.4px;
  padding: 0;
  text-align: center;
  margin-left: 10px;
}
.chart-riskback-btn:after{
  position: absolute;
  content: '';
  z-index: 0;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  border: 1.6px solid;
  left: 0;
  border-image: linear-gradient(to right,#E86E0B,#CB9F38) 1;
}
